html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 100%;
    color: #4478aa;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

html, body, form, fieldset {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

input {
    padding: 0.15em 0.5em;
    border-radius: 3px;
    border: 1px solid rgba(52, 104, 154, 0.2);
}

input:active {
    border: 1px solid rgba(52, 104, 154, 0.7);
}

input[type='file'] {
    border: none;
}

#container {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-content: flex-end;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    min-height: 100%;
    background-color: rgb(233, 233, 233);
}

#page {
    order: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    align-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
}

#footer-holder {
    order: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    flex: 0 0 100px;
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    align-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    text-align: center;
}

.homeEventLong, .homeEventDate {
    float: left;
    margin: 0.5em 0.5em 0.25em 0;
}

.homeEventLong, .homeEventDate, .eventExpanderDiv {
    font-size: 150%;
    line-height: 22px;
}

.homeEventLong {
    font-size: 150%;
    float: left;
}

.homeEventDate {
    float: left;
    position: relative;
    text-transform: uppercase;
    font-size: 80%;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

#site {
    height: 106px;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    font-size: 145%;
}

#site_name {
    bottom: 0px;
    position: absolute;
}

#site_logo {
    position: relative;
    float: right;
}

#site img {
    float: right;
}

#title {
    text-transform: uppercase;
    font-size: 120%;
}

#otherEventsSpacer, .multiPin {
    margin: 0;
    height: 30px;
}

#need2 {
    margin: 3em 0;
    color: rgb(255, 0, 0);
}

#pad1, #pad3 {
    width: 420px;
    height: 520px;
}

#pad1x, #pad3x {
    position: absolute;
    top: 0;
    right: 0;
}


#pad1tab0 {
    float: right;
    margin-right: 50px;
    margin-top: 1em;
}




#pad1tab0 {
    text-transform: none !important;
}

#loginReload {
    color: yellow;
}





#user, .linkAdmin, .linkH, .linkTP, .linkOut {
    margin: 0 !important;
    height: 50px !important;
}

#user .button-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



.userTriangle {
    position: relative;
    top: -2px;
    color: green;
}

#uHolder {
    height: 50px !important;
    line-height: 100% !important;
}

#tabmenu {
    margin-top: 5px !important;
}

#loginSub, #registerSub, #forgotSub, #profileSub, #passwordSub {
    width: 270px;
    margin: 1em 50px;
}

#selectionBar {
    background-color: #4478aa !important;
}



.toast-text {
    color: white !important;
}

#toast2 div.toast-container div.toast-text {
    color: black !important;
}

.green div.button-content {
    color: green !important;
}

#passwordSub div.button-content {
    color: white !important;
}

#registerSub div.button-content {
    color: white !important;
}

#forgotSub div.button-content {
    color: white !important;
}

#pad2 {
    width: 420px;
    height: 500px;
}

#pad2root {
    overflow: hidden;
    font-size: 0.9em;
    padding: 1em;
}

#pad2x {
    width: 100%;
    margin-top: 2em;
}

#pad2x div.button-content {
    color: white !important;
}

.ombp {
    font-size: 0.8em;
    margin-top: 1em;
}

.svgblue {
    fill: rgb(52, 104, 154);
}

.go {
    background: rgba(0, 255, 0, 0.5);
}

.stop {
    background: rgba(255, 0, 0, 0.1);
}

#registerProgress, #forgotProgress, #passwordProgress {
    padding: 0;
    text-align: center;
    height: 2em;
    line-height: 2em;
}

#throbber {
    height: 1.5em;
}

#forgotten {
    margin: 3em;
    text-align: center;
}

#captchaHolder {
    display: none;
}

#regged {
    text-align: center;
}

#followLoading {
    text-align: center;
    margin-top: 10em;
}

#followLoading img {
    height: 3em;
    margin-top: 2em;
}

.nonClickable:active {
    top: 0px;
    left: 0px;
}

.modal-root {
    display: block;
    font-family: sans-serif;
    height: 500px;
    margin: 20px;
    text-align: left;
    width: 375px;
}

.block {
    display: block !important;
}

.none {
    display: none !important;
}

.both {
    clear: both;
}

.zero {
    height: 0px;
    width: 0px;
    border: 0;
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gr33n {
    color: green !important;
}

.grey {
    color: grey;
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    transition: all 0.5s ease-out;
}

.moduledit {
    margin: 0 20px 0 20px;
    padding: 0 0 123px 0;
}

.articleBody {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(200, 200, 200, 0.75);
}

#about {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(200, 200, 200, 0.75);
    padding: 2em;
}

.aboutIMG {
    vertical-align: middle;
    margin: 5px;
}

.wysiwyg-font-size-large {
    font-size: 90%;
}

.wysiwyg-font-size-small {
    font-size: 70%;
}
.tabular {
    background-color: white;
}
.flex3 {
    flex-basis: 3em;
}
.articleActions {
    border-radius: 2px;
    margin: 0.5em 0 0.5em 0;
}
.articleActionsFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.articleActionItem {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    text-align: center;
    padding: 0;
    font-size: 70%;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(200, 200, 200, 0.75);
    padding: 0.5em 1em;
    border-radius: 2px;
}

.aaMarginRight {
    margin-right: 0.5em;
}

.aaMarginLeft {
    margin-left: 0.5em;
}

.cursorDefault {
    cursor: default !important;
}

.opacityZero {
    opacity: 0 !important;
    cursor: default !important;
}

.opacityOne {
    opacity: 1 !important;
}

.opacityTwenty {
    opacity: 0.2;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.articleContent {
    padding: 1.5em;
}

.articleContent h1 {
    margin: 0;
}

figure {
    display: table;
    margin: 0 100em 1em 0;
    float: left;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    opacity: 0.6;
    font-size: 0.8em;
}

.articleSeparator, .titleSeparator, hr {
    height: 0;
    margin: 0;
}

hr {
    background-color: transparent;
}

.titleSeparator, hr {
    border: none;
    border-top: 1px solid rgb(198, 212, 224);
}

table {
    border-color: rgba(198, 212, 224, 0.5);
}

td {
    padding: 0.25em 1em;
}

.expandable {
    list-style-type: none;
    margin: 1em 0 0.5em 2em;
    padding: 0;
}

.expandablEvent {
    margin-bottom: 10px;
    font-size: 120%;
}

.eventLink {
    cursor: pointer;
    color: #34689a;
}

.eventsMore {
    font-size: 50%;
    opacity: 0.8;
    position: relative;
    bottom: 0.5em;
}

.clickable, .button {
    cursor: pointer;
}

.minorEventDate {
    text-transform: uppercase;
    font-size: 50%;
    opacity: 0.8;
    margin-left: 10px;
}

.minorEventInfo {
    font-size: 70%;
    opacity: 0.8;
}

#shadowHolder {
    z-index: -99999999;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.eventInformation {
    margin: 1em 0 0 0;
    font-size: 0.8em;
}

.tags {
    float: right;
}

.tag {
    padding: 2px 5px;
}

.noUnderline, .noUnderline:hover {
    text-decoration: none;
}

.clearEm {
    clear: both;
    height: 0px;
}

.nonselect, .button, .drop-content, .footlink, #footer-inner2, #footer-holder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cursor {
    cursor: default;
}

.footlink, .plup {
    margin-left: 7px;
    margin-right: 7px;
}

.paralegal {
    color: white;
    font-weight: bold;
    font-size: 110%;
    line-height: 21px;
    background: black;
    border-radius: 5px;
    padding: 10px;
    width: 380px;
}

.plup, .plupomb, .footlink, #omblink {
    display: inline;
    font-size: 90%;
    line-height: 13px;
}

.plup a, .footlink a, .plupomb a {
    padding: 4px;
    height: 17px;
}

.plup .drop-content, .plupomb .drop-contentomb {
    display: none;
}

.plup .drop-target, .plupomb .drop-targetomb {
    cursor: pointer;
}

.plup .drop-target-example-hover-card, .plups-wrap .plups .plup .plup-inner .drop-target-example-hover-card img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    height: 50px;
    width: 50px;
}

.plup .plup-credit {
    opacity: 0.5;
}

.plup .plup-credit a {
    color: inherit;
}

#gplus, #twitter {
    display: block;
    height: 40px;
    width: 150px;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
    line-height: 1em;
}

#gplus {
    background: #ec4221;
}

#twitter {
    background: #00e2ff;
}

.bold {
    font-weight: bold;
}

.number-pb {
    position: relative;
    height: 1em;
    margin: 1.1em 0 0.9em;
    border-radius: 1em;
    border: 1px solid rgba(127, 127, 255, 0.05);
    background-color: rgba(127, 127, 127, 0.05);
}

.number-pb-shown {
    position: absolute;
    background-color: #34689a;
    background-image: linear-gradient(to right, #34689a, rgb(152, 204, 254));
    top: -1px;
    border-radius: 1em;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    height: 1em;
}

.number-pb-num {
    display: none;
    position: absolute;
    top: 0;
    left: 1%;
    padding: 0 0.5em;
    min-width: 1em;
    color: white;
    text-shadow: 1px 1px black;
}

.reportH, .helpH {
}

.helpH {
    padding: 1em 2em 2em;
}

.helpH h1 {
    font-style: italic;
    font-size: 110%;
}

#flip {
    height: 510px;
    overflow: hidden;
}

#pager {
    width: 1000%;
    position: relative;
}

.pppage {
    float: left;
    padding: 0 16px;
    text-align: center;
    height: 510px;
}

#reportNAV {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

#backNAV, #progressNAV, #forwardNAV {
    flex-basis: 2em;
}

#backNAV, #forwardNAV {
    font-size: 2em;
    min-width: 1.5em;
    padding: 0;
}

#progressNAV {
    flex-grow: 1;
    flex-shrink: 0;
}

.center {
    text-align: center;
}


.paperNAV {
    height: 1.5em;
    width: 2em;
    margin: 0;
}

.paperNAV #ripple {
    color: red;
    height: 1.5em;
    width: 2em;
    border-radius: 2em;
}


.paperNAV .button-content {
    height: 1.5em;
    width: 2em;
    padding: 0;
}

.newButton.raised {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.articleActionItem.raised:hover, .articleActionItem.raised:active, .articleActionItem.pressed {
    box-shadow: 0 0.15em 0.5em 0 rgba(0, 0, 0, 0.4);
    transition-delay: 0s;
}

.newButton.raised:active, .newButton.pressed, .newButton.raised:hover, .onWhiteButton.raised:active, .onWhiteButton.pressed, .onWhiteButton.raised:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.55);
    transition-delay: 0s;
}

.newButton.raised:hover, .onWhiteButton.raised:hover {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background: #f9f9f9;
    transition-delay: 0s;
}

.newButton.disabled, .onWhiteButton.disabled, .articleActionItem.disabled {
    opacity: 0.3;
    cursor: default;
}

.newButton {
    background: white;
    text-align: center;
    padding: 5px 12px;
    border-radius: 3px;
    border-left: 1px solid rgba(198, 212, 224, 0.5);
    border-right: 1px solid rgba(198, 212, 224, 0.5);
    border-bottom: 1px solid rgba(198, 212, 224, 1);
}

.onWhiteButton {
    background: rgba(198, 212, 224, 0.5);
    text-align: center;
    padding: 5px 12px;
    border-radius: 3px;
    border-left: 1px solid rgba(198, 212, 224, 0.5);
    border-right: 1px solid rgba(198, 212, 224, 0.5);
    border-bottom: 1px solid rgba(198, 212, 224, 1);
    margin: 20px;
    cursor: default;
}

#page01buttonMissing {
    background: rgba(0, 127, 255, 1);
    border-left: 1px solid rgba(0, 63, 191, 0.2);
    border-right: 1px solid rgba(0, 63, 191, 0.2);
    border-bottom: 1px solid rgba(0, 63, 191, 1);
    color: white;
}

#page01buttonAlive {
    background: rgba(76, 175, 80, 1);
    border-left: 1px solid rgba(56, 135, 60, 0.25);
    border-right: 1px solid rgba(56, 135, 60, 0.25);
    border-bottom: 1px solid rgba(56, 135, 60, 1);
    color: white;
}

#page01buttonInjured {
    background: rgba(244, 67, 54, 1);
    border-left: 1px solid rgba(180, 35, 34, 0.25);
    border-right: 1px solid rgba(180, 35, 34, 0.25);
    border-bottom: 1px solid rgba(180, 35, 34, 1);
    color: white;
}

#page01buttonDeceased {
    background: rgba(31, 31, 31, 1);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: white;
}

#page03age {
    width: 420px;
}





#page04holder {
    text-align: left;
    width: 280px;
}

#page04name {
    width: 280px;
}

#page01, #page02, #page03, #page04, #page05, #page06, #page07, #page08, #page09, #page10 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsVertical, #page02text2, #page03select, #page03text2 {
    margin-top: 2em;
}

.page02selectGender {
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border: 1px solid rgb(241, 241, 241);
    margin-bottom: 1em;
}

#page03left, #page03right, .sizeButtons, #page06left, #page06right {
    float: left;
}

.sizeButtons {
    margin: 1em;
}

#page03left {
    text-align: left;
    margin-right: 2em;
}

#page03image, #page05row1col2, #page05row1col3, #page05row2col2, #page05row2col3, #page05row3col2, #page05row3col3 {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid rgba(198, 212, 224, 0.5);
    background: white;
    overflow: hidden;
}

#page03image img, .colorBoxPile, .colorTextPile, #page05row2col2 img, #page05row3col2 img, .patternTextPile, .textureTextPile {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 0;
}

.page04p {
    margin: 0;
}

#page05text {
    margin-bottom: 1em;
}

#page05row1, #page05row2, #page05row3 {
    height: 140px;
}

#page05row1col1, #page05row2col1, #page05row3col1, #page06left, #page06right {
    text-align: left;
}

#page05row1col1, #page05row1col2, #page05row1col3, #page05row2col1, #page05row2col2, #page05row2col3, #page05row3col1, #page05row3col2, #page05row3col3 {
    float: left;
    margin: 10px 20px;
}

#page05row1col2, #page05row1col3, #page05row2col2, #page05row2col3, #page05row3col2, #page05row3col3, .colorBoxPile, .colorTextPile, .patternBoxPile, .patternTextPile, .textureBoxPile, .textureTextPile {
    height: 120px;
    width: 120px;
}

#page05row1col1 select, #page05row2col1 select, #page05row3col1 select {
    width: 14em;
}

#page05row1col3, #page05row2col3, #page05row3col3, .colorTextPile, .patternTextPile, .textureTextPile {
    width: 280px;
}

.colorTextPile, .patternTextPile, .textureTextPile {
    padding: 10px;
    text-align: center;
}

#buttonCamera, #buttonSelect {
    width: 140px;
    float: left;
}

#buttonSelect {
    float: right;
}

#buttonCamera {
    margin-right: 20px;
}

#mapSearch {
    text-align: left;
}

#page06text {
    text-align: left;
}

#page06top {
    margin-bottom: 2em;
}

#page06left {
    margin-right: 4em;
}

#page06row2 {
    margin-top: 2em;
}

.quickSearchResult {
    float: left;
    text-align: center;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(241, 241, 241);
    border-radius: 2px;
    margin: 1em;
    padding: 0.3em;
    min-width: 100px;
}

.quickSearchResult:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(231, 231, 231);
}

.quickSearchImage {
    height: 120px;
}



#video, #canvas, #photoOnly, #showImage {
    width: 360px;
    height: 225px;
    z-index: 5;
}

#photoOnly {
    padding: 105px 0;
    text-align: center;
    background: yellow;
    overflow: hidden;
}

#snapshot {
    z-index: 6;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5em;
    width: 298px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    text-align: center;
    color: white;
}

#page07header {
    margin-bottom: 1em;
}

#page07left, #page07right {
    text-align: left;
}

#page08header5, #page08header6 {
    margin-top: 4em;
}

#page08header {
    text-align: left;
}

#page08click {
    text-align: center;
    margin-top: 3em;
}

#page08result1, #page08result2, #page08result3 {
    width: 120px;
    float: left;
    margin: 1em 5em;
}

.zeroMatches {
    font-style: italic;
    margin: 2em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.3em;
    border-radius: 2px;
}

#page09header2 {
    margin-top: 3em;
}

#window_uuid {
    margin: 1em 0 2em 0;
}

#window_uuid_a {
    background-color: rgba(0, 0, 0, 0.025);
    padding: 0.5em 1em;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.anotherReport {
    margin: 1em 0 0;
    text-transform: none !important;
}

.modHolder {
    background-color: rgb(255, 255, 255);
    margin: 0 0 3em;
    border-radius: 2px;
    border: 1px solid rgb(205, 205, 205);
    padding: 0.5em 0.5em 2em;
}

#searchPaperButton {
    background: rgb(66, 133, 244);
}

#searchBox {
    height: 2em !important;
}

#searchPaperButton div.button-content {
    height: 2em;
    color: white !important;
}



.form-container {
}

fieldset {
    border: none;
}

fieldset legend {
    font-size: 130%;
    margin: 0 0 1em 0;
}

#eapHolder {
    padding: 1em 1em 3em 1em;
}

#searchHolder, #eapHolder {
    background-color: white;
    min-height: 620px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(200, 200, 200, 0.75);
    margin-bottom: 2em;
}

.seapMaxWidth {
    max-width: 920px;
}

.searchBody {
    background: linear-gradient(to bottom, rgba(198, 212, 224, 0.2) 0%, rgba(198, 212, 224, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(198, 212, 224, 0.2) 0%, rgba(198, 212, 224, 0) 100%);
    background: -moz-linear-gradient(top, rgba(198, 212, 224, 0.2) 0%, rgba(198, 212, 224, 0) 100%);
    background: -o-linear-gradient(top, rgba(198, 212, 224, 0.2) 0%, rgba(198, 212, 224, 0) 100%);
    background: -ms-linear-gradient(top, rgba(198, 212, 224, 0.2) 0%, rgba(198, 212, 224, 0) 100%);
    border-bottom: none;
}

#searchD {
    height: 500px;
}

#box {
    padding-top: 220px;
    padding-left: 440px;
}

#query {
    width: 300px !important;
}

#resultCount {
    font-size: 0.8em;
}

.card {
    margin: 10px;
    float: left;
    width: 216px;
    height: 300px;
    padding: 0 !important;
}

.card img {
    width: 216px;
    vertical-align: bottom;
    border-radius: 4px 4px 0 0;
}

.cardImg {
    height: 162px;
    width: 216px;
    vertical-align: bottom;
    overflow: hidden;
}

.cardName {
    margin-top: 0.5em;
}

.cardData {
    width: 216px;
    text-align: left;
    font-size: 0.78em;
    white-space: nowrap;
    overflow: hidden;
}

.cardDataL {
    width: 70px;
    float: left;
    text-align: right;
    margin: 0 1em;
}

.brown20 {
    background: rgba(92, 64, 51, 0.2);
}

.blue20 {
    background: rgba(52, 104, 154, 0.2);
}

.brown100 {
    background: rgba(92, 64, 51, 1);
}

.blue100 {
    background: rgba(52, 104, 154, 1);
}

#results {
    padding-bottom: 5em;
    margin-top: 16px;
}

.font80 {
    font-size: 80%;
}

.mb05em {
    margin-bottom: 0.5em;
}

#wysihtml5-toolbar {
    margin-top: 10px;
}

.wysihtml5-sandbox {
    width: 100%;
    height: 800px;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 1em;
}

#wysihtml5-toolbar a:hover {
    text-decoration: none;
}

.buttonReport {
    margin-top: 1em;
    text-transform: none !important;
    background: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
}

.buttonReport div.button-content {
    color: white !important;
}

.buttonEM {
    text-transform: none !important;
    background: rgb(76, 175, 80);
    color: rgb(255, 255, 255);
}

.bgGreen {
    background-color: green !important;
    color: white;
}

.bgYellow {
    background-color: yellow !important;
    color: black;
}

.bgRed {
    background-color: red !important;
    color: white;
}

.bgWhiteRed {
    background-color: white !important;
    color: red;
}

.buttonEM.bgGreen div.button-content {
    color: white !important;
}

.buttonEM.bgYellow div.button-content {
    color: black !important;
}

.buttonEM.bgRed div.button-content {
    color: white !important;
}

.buttonEM.bgWhiteRed div.button-content {
    color: red !important;
}

.border10 {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.styleButtonOld, #wysihtml5-toolbar a {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-width: 5.14em;
    margin: 0 0.29em;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    font: inherit;
    outline: none;
    border-radius: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    min-height: 2em;
}


.styleButtonOld:hover, #wysihtml5-toolbar a:hover {
}

.styleButtonOld a, .styleButtonOld a:hover, #wysihtml5-toolbar a:hover {
}

.styleButtonOld:active {
}

#wysihtml5-toolbar a, .spaceIt {
    padding: 0.25em 1em;
    margin: 0.25em;
}

.greenTD {
    background-color: rgb(220, 255, 220) !important;
}

.redTD {
    background-color: rgb(255, 220, 220) !important;
}

.blueTD {
    background-color: rgb(220, 220, 255) !important;
}

.optionalSuper {
    font-size: 80%;
    opacity: 0.5;
    position: relative;
    bottom: 0.5em;
}

.flash {
    border-bottom: 1px solid rgba(52, 104, 154, 1);
    -webkit-animation-name: flash;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-name: flash;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes flash {
    0% {
        border-bottom: 1px solid rgba(52, 104, 154, 0.66);
    }
    50% {
        border-bottom: 1px solid rgba(52, 104, 154, 0);
    }
    100% {
        border-bottom: 1px solid rgba(52, 104, 154, 0.66);
    }
}

.nonUpper {
    text-transform: none !important;
}

.oldDiv {
    margin: 0 0 2em 0;
}

.fmL2 {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    border-radius: 2px;
}

#oldACL {
    margin-bottom: 3em;
}

ul#tabmenu {
    border-bottom: 1px solid rgb(198, 212, 224);
    padding-bottom: 3px;
}

ul#tabmenu li {
    display: inline;
    margin: 0 0.5em 0 0;
}

ul#tabmenu li a, ul#tabmenu li a:link {
    background: rgba(228, 233, 245, 1);
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid rgb(198, 212, 224);
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px 10px 3px 10px;
}

ul#tabmenu li#active a {
    background-color: #FFF;
    border: 1px solid rgb(198, 212, 224);
    border-bottom: 1px solid rgb(255, 255, 255) !important;
    border-bottom: none;
    font-weight: bolder;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px 10px 4px 10px;
}

#tabmenu {
    margin: 0;
}

.evenstill {
    background-color: rgba(0, 0, 0, 0.05);
}

.oddstill {
}

.evenstill, .oddstill {
    border: none;
    text-align: center;
}

#rezHolder {
    background-color: rgb(255, 255, 255);
    margin: 0 0 3em;
    border-radius: 2px;
    border: 1px solid rgb(205, 205, 205);
    padding: 0.5em 0.5em 2em;
    border-top: none;
}

.emTooBig {
    display: none;
}

.rezEditColumn {
    width: 96px !important;
    height: 45px !important;
    margin: 0;
}

.emEditEventColumn {
    width: 96px !important;
}

.emColumn, .rezColumnTd {
    padding: 0 0 0 1em !important;
}



.rezleft {
    text-align: left;
}

.emright {
    text-align: right;
}

#page, #shadowDiv, .articleBody, .articleActions, .reportH, .helpH, .pppage, #flip {
    min-width: 460px;
    width: 460px
}

#page07right {
    margin-left: 2em;
    width: 150px;
}

#mapCanvas {
    height: 240px;
}

#page07left, #mapStreetAddress {
    width: 280px;
}

@media (min-width: 720px) {
    @viewport {
        width: 720px;
    }#page, #shadowDiv, .articleBody, .articleActions, .reportH, .helpH, .pppage, #flip {
    width: 700px
}

    #site {
        font-size: 200%;
    }

    .articleActionItem {
        font-size: 80%;
    }

    .wysiwyg-font-size-large {
        font-size: 100%;
    }

    .wysiwyg-font-size-small {
        font-size: 80%;
    }

    #page07right {
        margin-left: 2em;
        width: 300px;
    }

    #mapCanvas {
        height: 260px;
    }

    #page07left, #mapStreetAddress {
        width: 350px;
    }

    #dropzone {
        width: 480px;
        height: 300px;
    }

    #video, #canvas, #photoOnly, #showImage {
        width: 480px;
        height: 300px;
    }

    .font80 {
        font-size: 90%;
    }
}

@media (min-width: 960px) {
    @viewport {
        width: 960px;
    }figure {
    margin: 0 1.5em 1em 0;
}

    #page, #shadowDiv, .articleBody, .articleActions, .reportH, .helpH, .pppage, #flip {
        width: 940px
    }

    #site {
        font-size: 250%;
    }

    .articleActionItem {
        font-size: 100%;
    }

    .wysiwyg-font-size-large {
        font-size: 120%;
    }

    #page07right {
        margin-left: 2em;
        width: 420px;
    }

    #page07left, #mapStreetAddress {
        width: 470px;
    }

    .font80 {
        font-size: 100%;
    }
}

@media (min-width: 1200px) {
    @viewport {
        width: 1200px;
    }#page, #shadowDiv, .articleBody, .articleActions, .reportH, .helpH, .pppage, #flip {
    width: 1180px
}

    #site {
        font-size: 250%;
    }

    #page07right {
        margin-left: 2em;
        width: 470px;
    }

    #page07left, #mapStreetAddress {
        width: 600px;
    }

    .seapMaxWidth {
        max-width: 1160px;
    }

    .emTooBig {
        display: table-cell;
    }

    .rezEditColumn {
        width: 128px !important;
    }
}

#site_logo {
    width: 100px;
    height: 72px;
    background-image: url('https://pl.nlm.nih.gov/assets/images/pl-header-small-233.png');
    top: 41px;
}

@media (min-width: 719px) {
    #site_logo {
        width: 152px;
        height: 109px;
        background-image: url('https://pl.nlm.nih.gov/assets/images/pl-header-big-233.png');
        top: 8px;
    }
}

@media (min-width: 960px) {
}

@media (min-width: 1200px) {
}

.drop-element, .drop-element:after, .drop-element:before, .drop-element *, .drop-element *:after, .drop-element *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-element {
    position: absolute;
    display: none;
}

.drop-element.drop-open {
    display: block;
}

.drop-element.drop-theme-arrows-bounce-dark {
    max-width: 100%;
    max-height: 100%;
}

.drop-element.drop-theme-arrows-bounce-dark .drop-content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    font-family: inherit;
    background: black;
    color: white;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em;
}

.drop-element.drop-theme-arrows-bounce-dark .drop-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 12px;
    border-style: solid;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content {
    margin-bottom: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-top-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-center .drop-content {
    margin-top: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-center .drop-content:before {
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    border-bottom-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-right.drop-element-attached-middle .drop-content {
    margin-right: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-right.drop-element-attached-middle .drop-content:before {
    left: 100%;
    top: 50%;
    margin-top: -12px;
    border-left-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-left.drop-element-attached-middle .drop-content {
    margin-left: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-left.drop-element-attached-middle .drop-content:before {
    right: 100%;
    top: 50%;
    margin-top: -12px;
    border-right-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
    margin-top: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before {
    bottom: 100%;
    left: 12px;
    border-bottom-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
    margin-top: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:before {
    bottom: 100%;
    right: 12px;
    border-bottom-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
    margin-bottom: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before {
    top: 100%;
    left: 12px;
    border-top-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
    margin-bottom: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:before {
    top: 100%;
    right: 12px;
    border-top-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:before {
    top: 12px;
    left: 100%;
    border-left-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:before {
    top: 12px;
    right: 100%;
    border-right-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:before {
    bottom: 12px;
    left: 100%;
    border-left-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:before {
    bottom: 12px;
    right: 100%;
    border-right-color: black;
}

.drop-element.drop-theme-arrows-bounce-dark {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
    opacity: 0;
}

.drop-element.drop-theme-arrows-bounce-dark .drop-content {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.265, 1.55);
    -moz-transition: -moz-transform 0.3s cubic-bezier(0, 0, 0.265, 1.55);
    -o-transition: -o-transform 0.3s cubic-bezier(0, 0, 0.265, 1.55);
    transition: transform 0.3s cubic-bezier(0, 0, 0.265, 1.55);
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
}

.drop-element.drop-theme-arrows-bounce-dark.drop-open {
    display: none;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-open-transitionend {
    display: block;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-after-open {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 1;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-after-open .drop-content {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-center .drop-content {
    -webkit-transform-origin: 50% calc(100% + 12px);
    -moz-transform-origin: 50% calc(100% + 12px);
    -ms-transform-origin: 50% calc(100% + 12px);
    -o-transform-origin: 50% calc(100% + 12px);
    transform-origin: 50% calc(100% + 12px);
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-center .drop-content {
    -webkit-transform-origin: 50% -12px;
    -moz-transform-origin: 50% -12px;
    -ms-transform-origin: 50% -12px;
    -o-transform-origin: 50% -12px;
    transform-origin: 50% -12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-right.drop-element-attached-middle .drop-content {
    -webkit-transform-origin: calc(100% + 12px) 50%;
    -moz-transform-origin: calc(100% + 12px) 50%;
    -ms-transform-origin: calc(100% + 12px) 50%;
    -o-transform-origin: calc(100% + 12px) 50%;
    transform-origin: calc(100% + 12px) 50%;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-left.drop-element-attached-middle .drop-content {
    -webkit-transform-origin: -12px 50%;
    -moz-transform-origin: -12px 50%;
    -ms-transform-origin: -12px 50%;
    -o-transform-origin: -12px 50%;
    transform-origin: -12px 50%;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
    -webkit-transform-origin: 0 -12px;
    -moz-transform-origin: 0 -12px;
    -ms-transform-origin: 0 -12px;
    -o-transform-origin: 0 -12px;
    transform-origin: 0 -12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
    -webkit-transform-origin: 100% -12px;
    -moz-transform-origin: 100% -12px;
    -ms-transform-origin: 100% -12px;
    -o-transform-origin: 100% -12px;
    transform-origin: 100% -12px;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
    -webkit-transform-origin: 0 calc(100% + 12px);
    -moz-transform-origin: 0 calc(100% + 12px);
    -ms-transform-origin: 0 calc(100% + 12px);
    -o-transform-origin: 0 calc(100% + 12px);
    transform-origin: 0 calc(100% + 12px);
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
    -webkit-transform-origin: 100% calc(100% + 12px);
    -moz-transform-origin: 100% calc(100% + 12px);
    -ms-transform-origin: 100% calc(100% + 12px);
    -o-transform-origin: 100% calc(100% + 12px);
    transform-origin: 100% calc(100% + 12px);
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
    -webkit-transform-origin: calc(100% + 12px) 0;
    -moz-transform-origin: calc(100% + 12px) 0;
    -ms-transform-origin: calc(100% + 12px) 0;
    -o-transform-origin: calc(100% + 12px) 0;
    transform-origin: calc(100% + 12px) 0;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
    -webkit-transform-origin: -12px 0;
    -moz-transform-origin: -12px 0;
    -ms-transform-origin: -12px 0;
    -o-transform-origin: -12px 0;
    transform-origin: -12px 0;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
    -webkit-transform-origin: calc(100% + 12px) 100%;
    -moz-transform-origin: calc(100% + 12px) 100%;
    -ms-transform-origin: calc(100% + 12px) 100%;
    -o-transform-origin: calc(100% + 12px) 100%;
    transform-origin: calc(100% + 12px) 100%;
}

.drop-element.drop-theme-arrows-bounce-dark.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
    -webkit-transform-origin: -12px 100%;
    -moz-transform-origin: -12px 100%;
    -ms-transform-origin: -12px 100%;
    -o-transform-origin: -12px 100%;
    transform-origin: -12px 100%;
}